/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1560px) {
	.form-search {
		width: 370px;
	}
	.header-top {
		font-size: 14px;
		line-height: 20px;
	}
	body {
		font-size: 15px;
	}
	.btn-catalog {
		padding-right: 30px;
		margin-right: 25px;
	}
	.item-billbord {
		height: 480px;
		padding: 0 55px;
	}
	.title-big {
		font-size: 63px; 
		line-height: 67px;
	}
	.descr-big {
		font-size: 36px;
		line-height: 49px;
	}
	.descr-big span {
		font-size: 28px;
		line-height: 36px;
	}
	.item-billbord__text {
		font-size: 17px;
		line-height: 25px;
		bottom: 110px;
		right: 407px;
		max-width: 167px;
	}
	.item-benefit {
		font-size: 16px;
		line-height: 24px;
	}
	.item-benefit__icon {
		margin-right: 20px;
	}
	.title-min {
		font-size: 20px;
		line-height: 26px;
	}
	.item-benefit .title-min {
		margin-bottom: 12px;
	}
	.benefits {
		padding-top: 85px;
	}
	.item-category__image {
		transform: scale(0.9);
		transform-origin: 100% 100%;
	}
	.item-category__title {
		font-size: 31px;
		line-height: 42px;
	}
	.item-category ul {
		padding-top: 18px;
		font-size: 16px;
		line-height: 22px;
		max-width: 160px;
	}
	.item-category {
		height: 270px;
		padding: 21px 30px;
	}
	.item-category_6 {
		height: 565px;
	}
	.item-category_6 .item-category__image {
		left: -27px;
	}
	.slider-catalog .slick-slide {
		padding: 0 7px;
	}
	.slider-catalog {
		margin: 0 -7px;
	}
	.slider-catalog .slick-prev {
		left: -33px;
	}
	.slider-catalog .slick-next {
		right: -33px;
	}
	.item-catalog {
		padding: 0 14px;
		padding-top: 5px;
	}
	.tabs a {
		height: 55px;
		min-width: 205px;
	}
	.catalog {
		padding-top: 50px;
		padding-bottom: 30px;
	}
	.partnership-block {
		min-height: 445px;
		padding: 35px 50px;
	}
	.title-partnership {
		font-size: 57px;
		line-height: 75px;
		padding-bottom: 30px;
	}
	.list-partnership {
		font-size: 17px;
		line-height: 25px;
		max-width: 610px;
	}
	.advantages {
		padding-top: 15px;
	}
	.item-advantage {
		font-size: 16px;
		line-height: 23px;
		margin-top: 90px;
		max-width: 374px;
	}
	.wrapper-sertificat {
		max-width: 220px;
		display: block;
		margin: 0 auto;
		margin-top: 50px;
	}
	.sertificat-advantage::before {
		transform: scale(0.9);
		transform-origin: 100% 0%;
	}
	.title-section {
		font-size: 36px;
		line-height: 50px;
	}
	.clients .title-section {
		padding-bottom: 35px;
	}
	.questions-block {
		padding: 33px 60px;
		padding-bottom: 45px;
	}
	.item-question__head {
		font-size: 18px;
		line-height: 26px;
	}
	.title-block {
		font-size: 22px;
		line-height: 28px;
	}
	.block-form {
		padding: 19px 38px;
		padding-bottom: 25px;
	}
	.block-form .checkbox {
		margin-top: 20px;
	}
	.contacts-block p a img {
		max-width: 17px;
	}
	.descr-section {
		font-size: 18px;
		line-height: 27px;
		padding-bottom: 22px;
	}
	.header.nav-up {
		transform: translateY(-184px);
	}
	.wrapper {
		padding-top: 184px;
	}
	.info-contacts {
		font-size: 16px;
		line-height: 24px;
		padding: 32px 40px;
	}
	.item-news__image {
		height: 235px;
	}
	.item-news__title {
		font-size: 22px;
		line-height: 32px;
	}
	.item-news__date {
		font-size: 14px;
		line-height: 20px;
		padding: 8px 11px;
	}
	.article-content {
		padding: 0 60px;
	}
	.article-content h1 {
		font-size: 37px;
		line-height: 54px;
		margin-bottom: 20px;
	}
	.article-content h3 {
		font-size: 17px;
		line-height: 28px;
		margin-bottom: 20px;
	}
	.article-content ul li,
	.article-content p {
		margin-bottom: 15px;
	}
	.item-review {
		font-size: 16px;
		line-height: 23px;
		padding: 32px 45px;
		padding-right: 30px;
	}
	.item-review .title-block {
		padding-bottom: 15px;
	}
	.about-unit {
		font-size: 17px;
		line-height: 28px;
		padding: 45px 75px;
	}
	.about-unit__head {
		font-size: 36px;
		line-height: 51px;
		padding: 8px 33px;
		margin-bottom: 30px;
	}
	.slider-about__image {
		height: 295px;
	}
	.about-unit .block-form {
		margin-left: 0;
	}
	.checkbox.checkbox_page {
		font-size: 13px;
		margin-right: -12px;
		line-height: 18px;
	}
	.checkbox_page label span {
		padding: 8px 0px 8px 38px;
	}
	.unit-delivery {
		font-size: 16px;
		line-height: 23px;
		padding: 43px;
		padding-top: 27px;
	}
	.content-dropdown {
		width: 1290px;
	}
	.email-block {
		padding: 30px 45px;
		margin-bottom: 35px;
	}
	.email-block img {
		margin-right: 17px;
	}
}


@media only screen and (max-width : 1300px) {
	.form-search {
		width: 320px;
	}
	.header-top {
		font-size: 13px;
		line-height: 19px;
	}
	body {
		font-size: 14px;
		line-height: 20px;
	}
	.item-billbord {
		height: 435px;
	}
	.item-billbord__text {
		font-size: 16px;
		line-height: 23px;
		bottom: 99px;
		right: 366px;
		max-width: 153px;
	}
	.title-big {
		font-size: 58px;
		line-height: 61px;
	}
	.descr-big {
		font-size: 32px;
		line-height: 44px;
	}
	.descr-big span {
		font-size: 25px;
		line-height: 31px;
	}
	.item-billbord .descr-big {
		margin-bottom: 28px;
	}
	.item-benefit__icon {
		width: 50px;
		height: 50px;
	}
	.item-benefit {
		font-size: 15px;
		line-height: 23px;
	}
	.title-min {
		font-size: 19px;
		line-height: 24px;
	}
	.item-category__image {
		transform: scale(0.8);
	}
	.item-category_4 .item-category__image {
		transform-origin: 0 100%;
	}
	.item-category__title {
		font-size: 28px;
		line-height: 38px;
	}
	.buttons-catalog .btn-main {
		padding: 0 10px;
	}
	.item-catalog .btn-main {
		font-size: 12px;
	}
	.title-partnership {
		font-size: 50px;
		line-height: 68px;
		padding-bottom: 26px;
	}
	.list-partnership {
		font-size: 15px;
		line-height: 23px;
		max-width: 559px;
	}
	.partnership-block {
		min-height: 397px;
	}
	.partnership-form {
		margin: 0 45px;
		margin-top: -60px;
	}
	.title-section {
		font-size: 34px;
		line-height: 46px;
	}
	.questions-block {
		padding: 33px 43px;
		padding-bottom: 45px;
	}
	.footer__title {
		margin-bottom: 12px;
	}
	.footer__nav a {
		font-size: 14px;
	}
	.footer__nav li {
		margin-bottom: 10px;
	}
	.logo img {
		width: 155px;
	}
	.header.nav-up {
		transform: translateY(-176px);
	}
	.wrapper {
		padding-top: 176px;
	}
	.block-form_contacts .row {
		margin: 0 -5px;
	}
	.block-form_contacts .row > div {
		padding: 0 5px;
	}
	.form-line .btn-main {
		width: 218px;
	}
	.item-news__image {
		height: 210px;
	}
	.pager {
		margin-top: 25px;
	}
	.item-review {
		font-size: 15px;
		line-height: 21px;
		padding: 25px 30px;
		padding-right: 20px;
	}
	.about-unit {
		font-size: 16px;
		line-height: 25px;
		padding: 40px 50px;
	}
	.about-unit:nth-child(3) .about-unit__text {
		padding-right: 40px;
	}
	.about-unit__head {
		font-size: 32px;
		line-height: 49px;
		padding: 8px 33px;
		margin-bottom: 25px;
	}
	.slider-about__image {
		height: 260px;
	}
	.checkbox.checkbox_page {
		margin-right: 0;
	}
	.delivery-block {
		padding: 58px 60px;
	}
	.item-delivery__value {
		font-size: 34px;
		line-height: 50px;
	}
	.item-delivery img {
		max-width: 43px;
	}
	.unit-delivery {
		font-size: 14px;
		line-height: 20px;
		padding: 33px;
		padding-top: 24px;
	}
	.unit-delivery p a img {
		margin-left: 9px;
		max-width: 19px;
	}
	.title-block_delivery {
		padding-top: 20px;
		padding-bottom: 35px;
	}
	.form-contacts {
		padding: 35px 40px;
	}
	.content-dropdown {
		width: 1160px;
	}
	.menu-catalog > li > a {
		font-size: 16px;
		line-height: 22px;
		padding: 14px 2px;
	}
	.billbord-dropdown {
		height: 90px;
		margin-bottom: 15px;
	}
	.title-dropdown {
		font-size: 16px;
		line-height: 25px;
		margin-bottom: 7px;
	}
	.content-dropdown ul li {
		margin-bottom: 9px;
	}
	.text-wholesalers {
		margin-left: 0;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	body {
		font-size: 13px;
		line-height: 18px;
	}
	.btn-main {
		font-size: 14px;
		line-height: 20px;
		padding: 0 25px;
	}
	.phone-main {
		font-size: 14px;
		line-height: 20px;
	}
	.form-search {
		width: 233px;
	}
	.logo img {
		width: 125px;
	}
	.btn-catalog__title {
		margin-left: 13px;
	}
	.btn-catalog {
		padding-right: 18px;
		margin-right: 18px;
	}
	.nav a img {
		max-width: 15px;
	}
	.header.nav-up {
		transform: translateY(-175px);
	}
	.wrapper {
		padding-top: 175px;
	}
	.buttons-fixed {
		top: 210px;
	}
	.item-billbord {
		height: 350px;
	}
	.title-big {
		font-size: 50px;
		line-height: 55px;
	}
	.item-billbord .title-big {
		max-width: 500px;
	}
	.item-billbord__text {
		font-size: 14px;
		line-height: 20px;
		bottom: 78px;
		right: 279px;
		max-width: 133px;
	}
	.descr-big {
		font-size: 28px;
		line-height: 40px;
	}
	.descr-big span {
		font-size: 22px;
		line-height: 28px;
	}
	.item-benefit__icon {
		width: 40px;
		height: 40px;
		margin-right: 12px;
	}
	.item-benefit {
		font-size: 14px;
		line-height: 20px;
	}
	.title-min {
		font-size: 18px;
		line-height: 23px;
	}
	.item-category__image {
		transform: scale(0.6);
	}
	.item-category {
		height: 230px;
		margin-bottom: 10px;
		padding: 15px 20px;
	}
	.item-category__title {
		font-size: 24px;
		line-height: 33px;
	}
	.item-category_6 {
		height: 472px;
	}
	.row_categories {
		margin: 0 -5px;
	}
	.row_categories > div {
		padding: 0 5px;
	}
	.item-category_6 .item-category__image {
		transform-origin: 0 100%;
		left: 0;
	}
	.partnership-block {
		min-height: 370px;
		padding: 22px 32px;
	}
	.list-partnership li {
		padding-left: 32px;
		margin-bottom: 28px;
		padding-right: 26px;
	}
	.list-partnership {
		font-size: 14px;
		line-height: 21px;
		max-width: 466px;
	}
	.title-partnership {
		font-size: 44px;
		line-height: 63px;
	}
	.partnership-form .row {
		margin: 0 -5px;
	}
	.partnership-form .row > div {
		padding: 0 5px;
	}
	.partnership-form__bottom .btn-main {
		padding: 0 30px;
	}
	.partnership-form {
		margin: 0 20px;
		margin-top: -85px;
		padding: 23px 25px;
		padding-bottom: 30px;
	}
	.descr-block {
		padding-bottom: 18px;
	}
	.tabs a {
		min-width: 170px;
	}
	.title-section {
		font-size: 30px;
		line-height: 43px;
	}
	.advantages-block {
		padding: 43px 40px;
		padding-bottom: 107px;
	}
	.item-advantage {
		font-size: 14px;
		line-height: 20px;
		margin-top: 55px;
		max-width: 374px;
		position: relative;
		z-index: 2;
	}
	.partnership-form__right {
		width: 470px;
	}
	.advantages .partnership-form {
		padding: 31px 25px;
		padding-bottom: 33px;
	}
	.sertificat-advantage::before {
		transform: scale(0.7);
		right: -27px;
	}
	.clients .title-section {
		font-size: 26px;
		padding-bottom: 25px;
	}
	.advantages {
		padding-bottom: 35px;
	}
	.row_clients {
		margin: 0 -7px;
	}
	.row_clients > div {
		padding: 0 7px;
	}
	.item-client {
		height: 90px;
		margin-bottom: 14px;
	}
	.questions-block {
		padding: 25px 20px;
		padding-bottom: 30px;
	}
	.block-form {
		padding: 21px 20px;
		padding-bottom: 26px;
	}
	.title-block {
		font-size: 20px;
		line-height: 26px;
	}
	.footer-bottom {
		padding: 10px 0;
		font-size: 12px;
		line-height: 19px;
	}
	.info-contacts {
		font-size: 14px;
		line-height: 21px;
		padding: 24px 20px;
	}
	.map-contact {
		height: 340px;
	}
	.info-contacts a img {
		margin-left: 12px;
	}
	.page-news .title-section {
		padding-bottom: 20px;
	}
	.item-news__image {
		height: 155px;
	}
	.item-news__title {
		font-size: 20px;
		line-height: 30px;
	}
	.article-content {
		padding: 0;
	}
	.article-content h1 {
		font-size: 33px;
		line-height: 43px;
		margin-bottom: 19px;
	}
	.article-content h3 {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 15px;
	}
	.article-content h2 {
		font-size: 20px;
		line-height: 33px;
		margin-bottom: 15px;
	}
	.breadcrumbs {
		padding: 15px 0;
	}
	.page-return,
	.questions_page,
	.page-about,
	.page-reviews {
		padding-top: 25px;
		padding-bottom: 35px;
	}
	.page-return .title-section,
	.questions_page .title-section,
	.page-about .title-section,
	.page-reviews .title-section {
		padding-bottom: 16px;
	}
	.item-review {
		font-size: 14px;
		line-height: 20px;
	}
	.row_reviews > div {
		margin-bottom: 25px;
	}
	.btn-main_simple {
		height: 50px;
	}
	.about-unit .block-form .checkbox {
		white-space: normal;
	}
	.about-unit {
		font-size: 14px;
		line-height: 20px;
		padding: 25px 25px;
		margin-bottom: 25px;
	}
	.about-unit p {
		margin-bottom: 15px;
	}
	.slider-about__image {
		height: 220px;
	}
	.about-unit__head {
		font-size: 24px;
		line-height: 35px;
		padding: 8px 23px;
		border-radius: 15px;
		margin-bottom: 20px;
	}
	.row_serts {
		margin: 0 -5px;
	}
	.row_serts > div {
		padding: 0 5px;
	}
	.delivery-block {
		padding: 30px 15px;
	}
	.item-delivery__value {
		font-size: 28px;
		line-height: 40px;
	}
	.item-delivery img {
		max-width: 34px;
	}
	.row_delivery {
		margin: 0 -5px;
	}
	.row_delivery > div {
		padding: 0 5px;
	}
	.unit-delivery {
		font-size: 12px;
		line-height: 17px;
		padding: 25px;
		padding-top: 20px;
	}
	.unit-delivery p a img {
		margin-left: 8px;
		max-width: 12px;
	}
	.col-btn .btn-main {
		min-width: 195px;
	}
	.form-contacts {
		padding: 35px 20px;
	}
	.content-dropdown {
		width: 900px;
	}
	.item-wholesaler .title-block {
		font-size: 18px;
		line-height: 25px;
	}
	.item-wholesaler {
		margin-bottom: 30px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header__wrapper .phones-contacts,
	.header__wrapper .location-main,
	.header__wrapper .btn-main,
	.header__wrapper .form-search,
	.header-bottom,
	.header-top {
		display: none;
	}
	.header {
		border-bottom: 1px solid #EDEDED;
		transform: none !important;
	}
	.wrapper {
		padding-top: 71px;
	}
	.item-billbord {
		height: 272px;
	}
	.title-big {
		font-size: 40px;
		line-height: 47px;
	}
	.item-billbord .title-big {
		max-width: 430px;
	}
	.descr-big {
		font-size: 22px;
		line-height: 30px;
	}
	.descr-big span {
		font-size: 17px;
		line-height: 24px;
	}
	.item-billbord .descr-big {
		margin-bottom: 15px;
	}
	.item-billbord__text {
		font-size: 11px;
		line-height: 17px;
		bottom: 57px;
		right: 211px;
		max-width: 108px;
	}
	.benefits {
		padding-top: 60px;
	}
	.slick-dots li,
	.slick-dots li button {
		width: 10px;
		height: 10px;
	}
	.slick-dots li {
		margin: 0 5px;
	}
	.billbord .slick-dots {
		bottom: -25px;
	}
	.item-benefit .title-min {
		margin-bottom: 8px;
	}
	.item-benefit {
		margin-bottom: 15px;
	}
	.categories {
		padding-top: 25px;
	}
	.slider-catalog {
		padding-bottom: 25px;
	}
	.catalog {
		padding-top: 30px;
	}
	.title-partnership {
		font-size: 35px;
		line-height: 56px;
	}
	.list-partnership li {
		padding-right: 5px;
	}
	.list-partnership {
		font-size: 12px;
		line-height: 18px;
		max-width: 332px;
	}
	.partnership-form__bottom {
		flex-wrap: wrap;
	}
	.partnership-form__bottom .checkbox {
		max-width: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}
	.partnership-toy img {
		max-width: 200px;
	}
	.partnership-toy {
		left: -129px;
		bottom: -85px;
	}
	.partnership {
		padding-bottom: 40px;
	}
	.tabs {
		justify-content: flex-start;
		overflow: auto;
		margin-right: -15px;
		padding-bottom: 10px;
	}
	.tabs::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.tabs::-webkit-scrollbar:vertical {
		width: 3px;
	}
	.tabs::-webkit-scrollbar:horizontal {
		height: 3px;
	}
	.tabs::-webkit-scrollbar-thumb {
		background-color: #0F8FD3;
		border-radius: 10px;
	}
	.tabs::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: #005B9E;
	}
	.title-section {
		font-size: 26px;
		line-height: 36px;
	}
	.descr-section {
		font-size: 16px;
		line-height: 24px;
	}
	.item-advantage {
		margin-top: 30px;
	}
	.partnership-form__wrapper {
		display: block;
	}
	.partnership-form__right {
		width: 100%;
		text-align: center;
	}
	.partnership-form__left {
		max-width: 100%;
	}
	.questions {
		padding-bottom: 45px;
	}
	.contacts-block {
		padding: 30px 25px;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		border-radius: 0;
	}
	.contacts .container {
		max-width: 100%;
		width: 100%;
		padding: 0;
	}
	.contacts-block .btn-main {
		max-width: 250px;
	}
	#map {
		height: 350px;
	}
	.buttons-fixed {
		top: auto;
		bottom: 0;
		left: 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		background-color: #0F8FD3;
	}
	.btn-fixed_telegram,
	.btn-fixed_whatsapp,
	.btn-fixed_viber {
		display: none !important;
	}
	.btn-fixed {
		margin: 0;
		background-color: transparent;
	}
	.footer__title,
	.footer__nav_big a {
		padding: 10px 0;
		border-bottom: 1px solid #292D32;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.footer__title i {
		font-size: 12px;
		display: inline-block;
		transition: all 0.3s;
	}
	.footer__title.active i {
		transform: rotate(180deg);
	}
	.footer__content {
		display: none;
		padding-top: 15px;
	}
	.footer__title ~ br {
		display: none;
	}
	body {
		font-size: 14px;
		line-height: 20px;
	}
	.footer-bottom {
		font-size: 13px;
		text-align: center;
		border: none;
		margin-top: 0;
	}
	.create {
		justify-content: center;
	}
	.footer-bottom .row > div {
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.btn_top {
		float: none;
	}
	.slider-catalog .slick-slide {
		min-height: initial;
	}
	.item-catalog__bottom {
		display: block;
	}
	.advantages {
		padding-top: 35px;
	}
	.sandwich {
		display: flex;
	}
	.btn-catalog {
		padding: 0;
		margin: 0;
	}
	.btn-catalog .sandwich span {
		width: 25px;
	}
	.btn-catalog .sandwich .sw-footer {
		top: 13px;
	}
	.btn-catalog .sandwich .sw-bottom {
		top: 9px;
	}
	.btn-fixed__value {
		top: 3px;
		right: 3px;
	}
	/*menu mobile*/
	.menu-mobile {
		width: 100%;
		top: 100%;
		left: 0;
		height: 100vh;
		padding: 15px 15px;
		padding-bottom: 120px;
		display: none;
		overflow: auto;
		background-color: #fff;
		position: absolute;
	}
	.menu a {
		margin: 0;
		padding: 10px;
		display: flex;
		align-items: center;
		position: relative;
		border-bottom: 1px solid #807F7D;
	}
	.menu a img {
		margin-right: 7px;
	}
	.menu li {
		margin: 0;
	}
	.menu-mobile .menu {
		display: block;
		margin: 0;
		margin-bottom: 15px;
	}
	.menu-mobile .phones-contacts {
		padding: 15px 0;
		text-align: left;
	}
	.menu-mobile .location-main {
		margin-bottom: 15px;
	}
	.menu-mobile .location-main__dropdown {
		position: relative;
		top: 0;
		visibility: visible;
		opacity: 1;
		transition: inherit;
		padding: 0;
		padding-left: 15px;
		display: none;
	}
	.location-main:hover .location-main__value i {
		transform: rotate(0deg);
	}
	.location-main__value.active i {
		transform: rotate(180deg) !important;
	}
	.btn-fixed {
		opacity: 1 !important;
	}
	.btn-search {
		top: 10px;
		right: 15px;
	}
	.form-search {
		padding: 10px 15px;
		position: fixed;
		top: 69px;
		left: 0;
		width: 100%;
		background-color: #fff;
	}
	.page-contacts {
		padding-top: 20px;
		padding-bottom: 30px;
	}
	.page-contacts .title-section {
		padding-bottom: 15px;
	}
	.info-contacts {
		margin: 0;
		border-radius: 0;
	}
	.map-contact {
		margin: 0;
		border-radius: 0;
	}
	.unit-contacts {
		margin-bottom: 25px;
	}
	.page-contacts .tabs a {
		padding: 0 21px;
	}
	.page-news {
		padding-top: 20px;
	}
	.item-news__image {
		height: 190px;
	}
	.prev.page-numbers {
		left: 0;
		right: auto;
	}
	.next.page-numbers {
		right: 0;
		left: auto;
	}
	.btn-call {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin-left: auto;
		margin-right: 15px;
		font-size: 15px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background: #F1FBFF;
		color: #005B9E;
	}
	.date-article {
		font-size: 14px;
		line-height: 20px;
		padding: 7px 11px;
		bottom: 10px;
		left: 10px;
	}
	.article-billbord {
		margin-bottom: 20px;
	}
	.article-content h1 {
		font-size: 28px;
		line-height: 38px;
		margin-bottom: 15px;
	}
	.article-content h3 {
		font-size: 15px;
		line-height: 23px;
		margin-bottom: 14px;
	}
	.article-content h2 {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 14px;
	}
	.article {
		padding-bottom: 25px;
	}
	.footer {
		padding-bottom: 50px;
	}
	.about-unit:nth-child(even) .about-unit__text {
		order: -1;
	}
	.slider-about__image {
		height: 300px;
	}
	.slider-about {
		margin-top: 15px;
	}
	.about-unit .block-form {
		margin-top: 20px;
		margin-bottom: 0;
	}
	.page-about {
		padding-bottom: 20px;
	}
	.delivery-block {
		padding: 30px;
		padding-bottom: 15px;
	}
	.item-delivery {
		margin-bottom: 15px;
	}
	.page-delivery .subscribe {
		margin-bottom: 20px;
	}
	.row_delivery > div {
		margin-top: 15px;
	}
	.unit-delivery {
		font-size: 14px;
		line-height: 20px;
	}
	.title-block_delivery {
		padding-top: 19px;
		padding-bottom: 25px;
	}
	.col-btn {
		width: 100%;
	}
	.col-btn .btn-main {
		min-width: initial;
		width: 100%;
	}
	.form-contacts .checkbox {
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}
	.form-contacts .descr-block br {
		display: none;
	}
	.form-contacts .descr-block, 
	.page-delivery .title-block {
		text-align: center;
	}
	.form-contacts {
		padding: 23px 30px;
	}
	.content-dropdown {
		width: 100%;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		border: none;
		height: auto;
		padding: 0;
		z-index: 5;
		min-height: auto;
	}
	.catalog-dropdown {
		height: calc(100vh - 121px);
		padding: 15px;
		padding-bottom: 40px;
		overflow: auto;
		border: none;
		border-radius: 0;
	}
	.btn-catalog .sandwich.active .sw-footer {
		width: 25px;	
	}
	.menu-catalog {
		padding: 0;
		margin: 0;
		background-color: transparent;
		width: 100%;
	}
	.content-dropdown ul {
		columns: initial;
	}
	.menu-catalog > li > a {
		position: relative;
	}
	.menu-catalog > li > a::after {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		line-height: 1;
		font-family: "Font Awesome 5 Pro";
		font-weight: 500;
		content: "\f078";
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		height: 50px;
		font-size: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s;
	}
	.menu-catalog > li.active > a {
		transform: rotate(180deg);
	}
	.billbord-dropdown {
		height: 65px;
	}
	.page-wholesalers .title-section {
		padding-bottom: 15px;
	}
	.item-wholesaler {
		margin-bottom: 20px;
	}
	.text-wholesalers {
		margin-top: 25px;
	}
	.email-block {
		padding: 20px 35px;
		margin-bottom: 25px;
	}
	.page-wholesalers {
		padding-bottom: 30px;
	}
	.page-wholesalers ~ .partnership {
		padding-bottom: 35px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.item-billbord__image img,
	.item-billbord__image {
		border-radius: 0;
	}
	.slider-billbord {
		margin: 0 -15px;
	}
	.item-billbord {
		padding-left: 15px;
		padding-right: 15px;
	}
	.item-billbord__text {
		display: none;
	}
	.title-big {
		font-size: 37px;
		line-height: 43px;
	}
	.item-billbord .title-big {
		max-width: 390px;
	}
	.descr-big {
		font-size: 19px;
		line-height: 26px;
	}
	.descr-big span {
		font-size: 14px;
		line-height: 22px;
	}
	.billbord {
		padding-top: 0;
	}
	.benefits {
		padding-top: 47px;
	}
	.item-category_6 {
		height: 230px;
	}
	.item-category_6 .item-category__image {
		right: 0;
		left: auto;
	}
	.item-category_6 .item-category__image {
		transform-origin: 100% 100%;
	}
	.popular .tabs li,
	.tabs li {
		padding: 0;
		padding-right: 6px;
	}
	.popular .tabs,
	.tabs {
		margin-left: 0;
	}
	.partnership-block {
		background-image: none;
		background-color: #F1FBFF;
	}
	.list-partnership {
		font-size: 14px;
		line-height: 20px;
		max-width: 100%;
	}
	.partnership-block {
		padding-bottom: 80px;
	}
	.title-partnership {
		font-size: 30px;
		line-height: 49px;
	}
	.partnership-form__bottom {
		flex-direction: column;
		align-items: center;
	}
	.partnership-form__bottom .btn-main {
		padding: 0 50px;
		margin-top: 20px;
	}
	.partnership-toy {
		left: -105px;
		bottom: -66px;
	}
	.popular .title-section {
		padding-bottom: 15px;
	}
	.advantages-block {
		padding: 25px 15px;
		padding-bottom: 107px;
	}
	.line-form {
		display: block;
	}
	.line-form .item-form {
		margin: 0;
		width: 100%;
		margin-bottom: 20px;
	}
	.line-form .btn-main {
		width: 100%;
	}
	.questions-block .title-section {
		padding-bottom: 19px;
	}
	.image-subscribe-left,
	.image-subscribe-right {
		display: none;
	}
	.subscribe-block {
		display: block;
	}
	.subscribe .descr-section {
		padding-bottom: 20px;
	}
	.footer__content .col-lg-7 {
		padding-top: 15px;
	}
	.footer__logo {
		padding-bottom: 10px;
		margin-bottom: 0;
		display: flex;
		justify-content: center;
	}
	.form-line {
		margin: 0;
		flex-direction: column-reverse;
	}
	.block-form .form-line .checkbox {
		margin: 0;
		margin-top: 20px;
	}
	.form-line .btn-main {
		width: 100%;
	}
	.item-news__image {
		height: 230px;
	}
	.item-news {
		margin-bottom: 25px;
	}
	.pager {
		margin-top: 15px;
	}
	.page-news {
		padding-bottom: 30px;
	}
	.breadcrumbs {
		flex-wrap: nowrap;
		white-space: nowrap;
		overflow: auto;
		padding: 13px 0;
		margin: 0 -15px;
		padding-left: 15px;
		margin-bottom: 10px;
	}
	.breadcrumbs li {
		padding: 9px 10px;
		background: #fff;
		box-shadow: 0 0 4px #ddd;
		border-radius: 30px;
		margin-right: 10px;
	}
	.breadcrumbs li::after,
	.breadcrumbs li span {
		display: none;
	}
	.slider-about__image {
		height: 250px;
	}
	.slider-about {
		padding-bottom: 25px;
	}
	.about-unit .wrapper-sertificat {
		margin-bottom: 20px;
	}
	.about-unit:nth-child(3) .about-unit__text {
		padding-right: 15px;
	}
	.col-upload {
		padding-bottom: 25px;
	}
	.col-upload .btn-main {
		margin-top: 15px;
	}
	.page-return .item-form {
		margin-bottom: 20px;
	}
	.checkbox_page {
		margin-top: 5px;
		margin-bottom: 10px;
	}
	.bottom-form {
		flex-direction: column-reverse;
		align-items: center;
	}
	.bottom-form .checkbox {
		margin-top: 15px;
	}
	.page-delivery .container > .title-section {
		padding-bottom: 15px;
	}
	.page-delivery {
		padding-top: 20px;
	}
	.page-delivery .subscribe {
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 20px;
	}
	.col_delivery {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 15px;
	}
	.unit-delivery br + br {
		display: none;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.descr-big {
		font-size: 17px;
		line-height: 25px;
	}
	.descr-big span {
		font-size: 13px;
		line-height: 20px;
	}
	.item-billbord .descr-big {
		margin-bottom: 33px;
		max-width: 190px;
	}
	.item-billbord .title-big {
		margin-bottom: 20px;
	}
	.item-billbord__image img {
		object-position: 54% 50%;
	}
	.title-big {
		font-size: 32px;
		line-height: 37px;
	}
	.item-billbord {
		height: auto;
		padding-top: 20px;
		min-height: 330px;
	}
	.item-category ul {
		padding-top: 15px;
		font-size: 14px;
		line-height: 20px;
	}
	.item-category_4 .item-category__image {
		transform-origin: 100% 100%;
	}
	.item-category_5 .item-category__image {
		transform: scale(0.5);
	}
	.item-category_6 .item-category__image {
		bottom: -10px;
		transform: scale(0.5);
	}
	.item-category_1 .item-category__image {
		right: 0;
		transform: scale(0.45);
	}
	.item-catalog .btn-main {
		font-size: 13px;
	}
	.buttons-catalog .btn-main {
		padding: 0 20px;
	}
	.title-catalog {
		font-size: 16px;
	}
	.item-catalog {
		padding: 0 20px;
		padding-top: 5px;
	}
	.item-catalog .quantity {
		width: 100px;
	}
	.partnership-block {
		padding: 22px 15px;
	}
	.list-partnership {
		display: block;
	}
	.list-partnership li {
		width: 100%;
		margin-bottom: 20px;
	}
	.title-partnership {
		font-size: 27px;
		line-height: 38px;
	}
	.partnership-form {
		padding: 20px 20px;
		padding-bottom: 35px;
		margin: 0;
	}
	.partnership-toy {
		display: none;
	}
	.popular .tabs, .tabs {
		margin-right: -15px;
	}
	.item-advantage__icon {
		margin-right: 15px;
	}
	.advantages-block {
		padding-bottom: 25px;
	}
	.item-question__head {
		font-size: 16px;
		line-height: 21px;
		padding: 15px 15px;
	}
	.item-question__content {
		padding: 20px 15px;
		padding-top: 0;
	}
	.questions {
		padding-bottom: 35px;
	}
	#map {
		height: 310px;
	}
	.map-contact {
		height: 300px;
	} 
	.item-news__image {
		height: 200px;
	}
	.article-content h1 {
		font-size: 24px;
		line-height: 32px;
	}
	.article-billbord {
		height: 200px;
		margin: 0 -15px;
		border-radius: 0;
		margin-bottom: 20px;
	}
	.article-billbord img {
		width: 100%;
		height: 100%;
		max-width: initial;
		object-fit: cover;
		border-radius: 0;
		font-family: 'object-fit: cover;';
	}
	.page-reviews {
		padding-top: 20px;
	}
	.item-review {
		padding: 20px 20px;
		padding-right: 15px;
		border-radius: 10px;
	}
	.item-review__bottom {
		justify-content: flex-start;
	}
	.about-unit__head {
		font-size: 22px;
		line-height: 33px;
	}
	.about-unit {
		padding: 25px 20px;
	}
	.slider-about__image {
		height: 220px;
	}
	.item-form textarea, .item-form input {
		padding-left: 20px;
		padding-right: 20px;
	}
	.checkbox_page label span {
		padding: 8px 0px 8px 39px;
	}
	.file-upload.file-upload_page label {
		height: 160px;
	}
	.delivery-block {
		padding: 25px 20px;
		padding-bottom: 15px;
	}
	.unit-delivery .title-block {
		font-size: 18px;
		line-height: 24px;
	}
	.item-wholesaler .title-block {
		font-size: 16px;
		line-height: 22px;
	}
	.email-block {
		padding: 20px 20px;
		margin-bottom: 25px;
		display: block;
	}
	.email-block img {
		margin-right: 0;
		margin-bottom: 15px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.sandwich_menu,
	.menu-mobile,
	.btn-call,
	.btn-fixed_search,
	.buttons-fixed .btn-catalog {
		display: none !important;
	}
	.form-search {
		display: block !important;
	}
	.catalog-dropdown::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.catalog-dropdown::-webkit-scrollbar:vertical {
		width: 6px;
	}
	.catalog-dropdown::-webkit-scrollbar:horizontal {
		height: 6px;
	}
	.catalog-dropdown::-webkit-scrollbar-thumb {
		background-color: #0F8FD3;
		border-radius: 10px;
	}
	.catalog-dropdown::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: #005B9E;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1300px) {
	.container {
		max-width: 1300px;
	}
}
@media (min-width: 1560px) {
	.container {
		max-width: 1470px;
	}
}